:root { 
--deep_orange_A100:#f4a676; 
--red_200:#e08d9d; 
--light_green_200:#c8db9b; 
--gray_800_03:#3c4141; 
--gray_400_4c:#bebcbd4c; 
--gray_800_02:#3f4646; 
--blue_A200:#4285f4; 
--deep_purple_600:#6639a6; 
--gray_800_01:#404040; 
--green_500:#48bc4e; 
--teal_300:#5ca9b3; 
--black_900_01:#030000; 
--teal_700:#009651; 
--blue_gray_900_02:#323232; 
--pink_700:#ac5067; 
--blue_gray_900_01:#2a2f2f; 
--pink_500:#ee1d52; 
--blue_gray_900:#333333; 
--deep_purple_A200:#8a33fd; 
--red_A700:#ff0000; 
--gray_800_7e:#3c42427e; 
--gray_700_cc:#666666cc; 
--gray_600:#807d7e; 
--gray_400:#bebcbd; 
--blue_gray_100:#d9d9d9; 
--amber_500:#fbbc04; 
--gray_800:#3c4242; 
--gray_400_7e:#bebcbd7e; 
--amber_300:#fdc761; 
--yellow_A700:#fbd103; 
--gray_200:#e7eaec; 
--black_900_0c:#0000000c; 
--gray_700_3f:#6666663f; 
--gray_100_03:#f3f3f3; 
--gray_100_02:#f4f1f1; 
--gray_100_04:#f0f9f4; 
--gray_400_01:#bebbbc; 
--gray_100_01:#f5f5fa; 
--indigo_900_01:#252c5e; 
--green_600_01:#28a642; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--gray_700_01:#5f6368; 
--deep_orange_A200:#f16f2b; 
--gray_400_a2:#bebcbda2; 
--blue_gray_50:#edeef2; 
--red_900:#9c1f35; 
--blue_gray_100_01:#cfcfcf; 
--light_blue_A200:#3edeff; 
--red_500:#ea4335; 
--amber_A200:#edd146; 
--green_600:#34a853; 
--black_900_66:#00000066; 
--black_900:#000000; 
--deep_orange_600:#f35528; 
--deep_orange_400:#d67e3b; 
--gray_100_90:#f6f6f690; 
--deep_purple_600_07:#6620c107; 
--deep_purple_A200_01:#8434e1; 
--pink_200:#eb84b0; 
--gray_700:#666666; 
--gray_600_02:#7f7f7f; 
--gray_600_01:#7f7c7d; 
--blue_gray_400:#8a8989; 
--amber_600:#f9b50b; 
--blue_gray_600:#666b7f; 
--gray_900:#191919; 
--blue_gray_900_03:#133240; 
--gray_900_01:#252525; 
--blue_600:#2199d6; 
--gray_300:#dedede; 
--gray_300_01:#e4e5e8; 
--gray_100:#f6f6f6; 
--indigo_A400:#345eff; 
--gray_600_90:#807d7e90; 
--blue_400:#47acdf; 
--indigo_900:#263577; 
--indigo_500:#3362ab; 
}